<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var intervalID = setInterval(update_time, 500);

    function update_time() {
        $.getJSON($SCRIPT_ROOT + '/time',
                
            function(data) {
                $('#result').text(data.result);
                console.log(data.result);
            });
      
    };

    function pauseTime() {
        clearInterval(intervalID);
    }

    function resumeTime() {
        intervalID = setInterval(update_time, 500)
    }

</script>

    <body onload="update_time();">
        <h1>Dynamic Update</h1>
        <h2>This page updates time without reloading the page</h2>
        <p>
            Current Time: <span id="result">?</span>
            <br>
            <button onclick="pauseTime();">Pause</button>
            <button onclick="resumeTime();">Resume</button>

        </p>
        <script>
            document.getElementById("result").innerHTML;
        </script>
    </body>

</html>